<loader ng-show="loading" message="'Hold on. Scanning your collection for duplicates'"></loader>

<section ng-hide="loading" ng-cloak>
    <div class="center" ng-hide="isDone || dupCount == 0 ">
        <h2>{{dupCount}} duplicate<span ng-hide="dupCount == 1">s</span> found</h2>

        <ul id="duplicates" ng-hide="removed">
            <li ng-repeat="d in duplicates" class="duplicate-item">
                <span class="old">{{d[0]}}</span><br/><span class="new">{{d[1]}}</span>
            </li>
        </ul>

        <button ng-hide="dupCount == 0" ng-click="remove();"
                ng-bind="removeButton" ng-disabled="isProcessing"></button>
    </div>

    <div class="center" ng-show="!isDone && dupCount == 0">
      <p class="checkmark">✓</p>
      <h2 class="done">No duplicates found</h2>

      <a href="#/"><button><i class="fa fa-arrow-left"></i> Back</button></a>
    </div>

    <div class="center" ng-show="isDone">
      <p class="checkmark">✓</p>
      <h2 class="done">Done!</h2>


      <p>{{dupCount}} duplicates removed</p><br/>

      <p id="backup"
         unselectable='off'
         onselectstart=''>Library backup can be found at <br/>{{backup}}.</p><br/>

      <a href="/#/"><button><i class="fa fa-arrow-left"></i> Back</button></a>

    </div>
</section>


