
#duplicates {
  margin-bottom: 20px;
}

.duplicate-item {
  margin-bottom: 15px;
  font-size: 11pt;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px dashed rgba(255,255,255,0.1);

}

.old, .error {
  color: indianred;
}

.new {
  color: #2ecc71;
}

.old:before {
  content: "\2716\0009";
}

.new:before {
  content: "\2714\0009";
}

#backup {
  -webkit-user-select: text;
  user-select: text;
  font-size: 10pt;
  color: rgba(255,255,255,0.6);
}


#processing, #finished {
  padding-top: 100px;
}

#checkmark {
  font-size: 52pt;
  color: greenyellow;
  margin: 30px auto;
  padding: 0;
  text-shadow: 3px 1px #666;
}

#done-text {
  font-size: 24pt;
  font-weight: 300;
}
