/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.ng-hide-add {
  -webkit-animation: 0.5s lightSpeedOut ease; }

.ng-hide-remove {
  -webkit-animation: 0.5s flipInX ease; }

@-webkit-keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px); } }
/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
#library-dir {
  width: 500px;
  background: #282828;
  color: white;
  border: 1px solid #111;
  height: 34px;
  padding: 2px 2px 2px 5px;
  font-size: 12pt;
  margin-top: 8px;
  font-weight: 100;
  font-family: Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
  letter-spacing: 0.5px; }

button {
  outline: 0;
  padding: 10px 20px;
  display: inline;
  color: #D8E4EF;
  font-weight: bold;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  font-size: 12pt;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #232B30;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #232B30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #232B30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#232B30',GradientType=0 );
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */ }

button:hover {
  color: #fff;
  background: #4C5A64;
  /* old browsers */
  background: -moz-linear-gradient(top, #4C5A64 3%, #404F5A 4%, #2E3940 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #4C5A64), color-stop(4%, #404F5A), color-stop(100%, #2E3940));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C5A64', endColorstr='#2E3940',GradientType=0 );
  /* ie */ }

button:active {
  background: #20282D;
  /* old browsers */
  background: -moz-linear-gradient(top, #20282D 3%, #252E34 51%, #222A30 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #20282D), color-stop(51%, #252E34), color-stop(100%, #222A30));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20282D', endColorstr='#222A30',GradientType=0 );
  /* ie */
  -moz-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* Safari, Chrome */
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  /* CSS3 */ }

.switch {
  position: relative;
  top: 10px;
  left: 70px;
  max-width: 100px;
  margin: 0; }

label .checkbox-label {
  position: relative;
  top: 2px;
  left: 70px;
  white-space: nowrap; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

input.cmn-toggle-round + label {
  padding: 2px;
  width: 48px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px; }

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

input.cmn-toggle-round + label:before {
  right: 1px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  transition: background 0.4s; }

input.cmn-toggle-round + label:after {
  width: 25px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s; }

input.cmn-toggle-round:checked + label:before {
  background-color: #2ecc71;
  border: 0; }

input.cmn-toggle-round:checked + label:after {
  margin-left: 25px; }

#preloader_3 {
  position: relative;
  top: 30px;
  left: -25px; }

#preloader_3:before {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  content: '';
  position: absolute;
  background: indianred;
  -webkit-animation: preloader_3_before 1.5s infinite ease-in-out;
  animation: preloader_3_before 1.5s infinite ease-in-out; }

#preloader_3:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  content: '';
  position: absolute;
  background: #2ecc71;
  left: 22px;
  -webkit-animation: preloader_3_after 1.5s infinite ease-in-out;
  animation: preloader_3_after 1.5s infinite ease-in-out; }

@-webkit-keyframes preloader_3_before {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateX(50px) scale(1.2) rotate(260deg);
    background: #2ecc71;
    border-radius: 0px; }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg); } }
@-webkit-keyframes preloader_3_after {
  0% {
    -webkit-transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);
    background: indianred;
    border-radius: 0px; }
  100% {
    -webkit-transform: translateX(0px); } }
/* #9b59b6 */
@keyframes preloader_3_before {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateX(50px) scale(1.2) rotate(260deg);
    background: #2ecc71;
    border-radius: 0px; }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg); } }
@keyframes preloader_3_after {
  0% {
    -webkit-transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);
    background: #9b59b6;
    border-radius: 0px; }
  100% {
    -webkit-transform: translateX(0px); } }
.landing {
  width: 680px;
  margin: 0 auto; }
  .landing .action-box {
    display: block;
    width: 300px;
    float: left;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border: 5px solid transparent;
    border-radius: 20px; }
    .landing .action-box i {
      font-size: 50px; }
    .landing .action-box p {
      margin: 10px auto; }
    .landing .action-box:link, .landing .action-box:visited {
      color: white;
      text-decoration: none; }
    .landing .action-box:hover {
      border-color: white;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0.9; }

.export {
  text-align: center;
  width: 100%;
  -webkit-transition: width 1s;
  transition: width 1s; }
  .export.shrinked {
    float: left;
    width: 400px; }
  .export .drive-list {
    width: 400px;
    margin: 10px auto 30px auto; }
    .export .drive-list li {
      display: inline-block;
      padding: 20px;
      margin: 10px;
      text-align: center;
      border: 5px solid transparent;
      border-radius: 15px; }
      .export .drive-list li .drive {
        display: inline-block;
        width: 120px; }
        .export .drive-list li .drive img {
          margin-bottom: 10px; }
      .export .drive-list li:hover {
        border-color: #D8E4EF;
        cursor: pointer; }
      .export .drive-list li.selected {
        border-color: #D8E4EF;
        background-color: rgba(0, 0, 0, 0.3); }

.export-list {
  width: 390px;
  float: right; }

* {
  box-sizing: border-box; }

body {
  font-size: 14pt;
  font-weight: 100;
  color: white;
  background: #333;
  font-family: Helvetica Neue, Helvetica, Verdana, Arial, sans-serif;
  cursor: default;
  letter-spacing: 0.5px;
  -webkit-user-select: none;
  user-select: none; }

header {
  width: 100%;
  padding: 30px;
  background: #333 url("../img/footer_lodyas.png");
  box-shadow: 0px 3px 7px #222;
  position: fixed;
  z-index: 2; }

h1 {
  font-size: 26pt;
  font-family: bebas_neueregular, sans-serif;
  margin-bottom: 5px; }

h2 {
  margin: 23px 1em;
  font-size: 26px;
  text-transform: uppercase; }

.subtitle {
  font-style: oblique;
  margin-top: 0; }

#content {
  padding: 40px;
  position: relative;
  top: 120px;
  min-height: 300px; }

section {
  min-height: 100%; }

.error:before {
  content: "\2716\0009"; }

.error {
  margin-top: 1em; }

.center {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center; }

#processing {
  padding-top: 100px; }

#checkmark {
  font-size: 52pt;
  color: greenyellow;
  margin: 30px auto;
  padding: 0;
  text-shadow: 3px 1px #666; }

#done-text {
  font-size: 24pt;
  font-weight: 300; }

#duplicates {
  margin-top: 40px; }

.duplicate-item {
  margin-bottom: 15px;
  font-size: 11pt;
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1); }

.old, .error {
  color: indianred; }

.new {
  color: #2ecc71; }

.old:before {
  content: "\2716\0009"; }

.new:before {
  content: "\2714\0009"; }

.back:link, .back:visited {
  font-size: 14pt;
  color: #9fa8b0;
  text-decoration: none;
  font-weight: 300;
  position: relative;
  top: -20px;
  left: -10px; }

.back:hover {
  color: white; }

#backup {
  -webkit-user-select: text;
  user-select: text;
  font-size: 10pt;
  color: rgba(255, 255, 255, 0.6); }

/*# sourceMappingURL=main.css.map */
