$def with(traktor_dir)
<!DOCTYPE html>
<html ng-app="librarian">
<head>
    <meta charset="utf-8">
    <title>Traktor Librarian</title>

    <link type="text/css" rel="stylesheet" href="/static/styles/main.css"/>

    <script src="/static/lib/jquery-2.1.4.min.js"></script>
    <script src="/static/lib/angular.min.js"></script>
    <script src="/static/lib/angular-route.min.js"></script>

    <!-- build:js /static/index.js -->
    <script type="text/javascript" src="/static/scripts/main.js"></script>
    <script type="text/javascript" src="/static/app/loader/loader.js"></script>
    <script type="text/javascript" src="/static/app/clean/clean.js"></script>
    <script type="text/javascript" src="/static/app/export/export.js"></script>
    <script type="text/javascript" src="/static/app/landing/landing.js"></script>
    <!-- endbuild -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-init="traktorDir = '$traktor_dir'">
    <header ng-controller="HeaderController">
      <div class="header-container">
        <h1 ng-class="{ 'with-back-button': isBackButtonVisible }"
            ng-click="goToHome()">
          <i class="fa fa-arrow-left back-button"></i><span>Traktor Librarian</span>
        </h1>
      </div>

      <div class="library-location-container">
        <button class="no-thrills-button" ng-click="selectLibrary()">
          <span class="library-text">Library location:</span>
          <span class="library-dir">{{ traktorDir }}</span>
          <span class="library-not-found error" ng-hide="traktorDir">NOT FOUND</span>
          <i class="fa fa-gear"></i>
        </button>
      </div>

    </header>

    <div class="error-container" ng-show="error">
      <div class="error-box">
        <button class="no-thrills-button close-button" ng-click="error = false"><i class="fa fa-times"></i></button>
        <div class="error-box-content">{{ errorMessage }}</div>
      </div>
    </div>

    <div id="content" class="container" ng-view/>
</body>
</html>
