.export {
  text-align: center;
  width: 100%;

  .drive-list {
    width: 400px;
    margin: 10px auto 30px auto;

    li {
      display: inline-block;
      padding: 20px;
      margin: 10px;
      text-align: center;
      border: 5px solid transparent;
      border-radius: 15px;

      .drive {
        display: inline-block;
        width: 120px;

        .drive-icon {
          display: block;
          margin: 0 auto 10px auto;
        }

        .drive-label {
          display: block;
        }
      }

      &:hover {
        border-color: $active;
        cursor: pointer;
      }

      &.selected {
        border-color: $active;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.export-list {
  width: 390px;
  float: right;
}

.status-message {
  min-height: 1em;
  margin: 0 auto 30px auto;
  font-size: 12px;
  font-style: italic;
}
