<section class="export" ng-if="!isExporting">

    <p>Export your entire music collection and playlists to a selected destination</p>

    <h2>Choose a destination</h2>

    <ul class="drive-list">
        <li ng-repeat="volume in volumes"
            ng-class="{'selected': $parent.selectedDriveIndex === $index}"
            ng-click="$parent.selectDrive($index)">
            <div class="drive">
                <img class="drive-icon" ng-src="/static/img/drive{{ $index }}.png" alt="" width="64" height="64"/>
                <span class="drive-label">{{ volume }}</span>
            </div>
        </li>
    </ul>


    <button ng-click="export()">Export</button>

</section>
<section class="export-status" ng-if="isExporting">

    <!--   -->
    <loader ng-if='!isDone' message="'Hold on. Exporting your music collection'"></loader>

    <div class="center" ng-if="!isDone">
      <!--
      <ul class="export-messages">
          <li ng-repeat="message in messages">
              <p ng-switch="message.action">
                  <span ng-switch-when="copy">Copying <strong>{{ message.item }}</strong></span>
                  <span ng-switch-when="delete">Deleting <strong>{{ message.item }}</strong></span>
                  <span ng-switch-when="playlist">Exporting playlist <strong>{{ message.item }}</strong></span>
              </p>
          </li>
      </ul>
      -->
      <p class="status-message" ng-switch="message.action">
        <span ng-switch-when="copy">Copying <strong>{{ message.item }}</strong></span>
        <span ng-switch-when="delete">Deleting <strong>{{ message.item }}</strong></span>
        <span ng-switch-when="playlist">Exporting playlist <strong>{{ message.item }}</strong></span>
      </p>

      <button ng-click="cancelExport()">Cancel</button>
    </div>

    <div ng-if="isDone" class="center">
      <h2>Done!</h2>
      <p id="checkmark">✓</p>

      <button ng-click="goToHome()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
</section>
