$def with(traktor_dir)

<!DOCTYPE html>
<html ng-app="librarian">
<head>
    <title>Traktor Librarian</title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/static/bebas/stylesheet.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/input.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/animation.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/preloader.css"/>
    <script src="/static/js/angular-file-upload-shim.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-file-upload.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--
unselectable='on'
onselectstart='return false;'
-->
    <header>
        <h1>Traktor Librarian</h1>
        <p class="subtitle">Clean up Traktor library from duplicates</p>
    <!--
        <section id="contact" class="right">
            <p>a <a href="http://www.flowrl.com/">flowrl</a> project</p>
        </section>
        -->
    </header>

    <div id="content"
         ng-controller="libController"
         ng-init='library_dir = "$traktor_dir"; view = "setup"'>

        <section id="setup"
                 ng-show="view == 'setup'"
                 ng-file-drop="onFileSelect(files)"
                 ng-file-drag-over-class="optional-css-class-name-or-function">

            <form ng-submit="scan()">
                Traktor library location<br/>
                <input type="text" id="library-dir" ng-model="library_dir" value="$traktor_dir" tabindex="1"/>
                <button tabindex="2">Scan</button>  <br/>
            </form>

            <p ng-show="error" class="error" ng-bind="error" ng-cloak/>

        </section>

        <section id="processing" ng-show="view == 'processing'" class="center"  ng-cloak>
            <p>Scanning for duplicates</p>

            <div id="preloader_3"></div>

        </section>

        <section id="finished" ng-show="view == 'finished'"  ng-cloak>
            <p><a href="#" class="back" ng-click="view = 'setup'">&#9664; BACK</a></p>
            <div class="center">
                <p id="done-text">Done!<br/></p>
                <p id="checkmark">✓</p>
                <p ng-hide="removed">{{dup_count}} duplicate<span ng-hide="dup_count == 1">s</span> found</p><br/>
                <p ng-show="removed">{{dup_count}} duplicates removed</p><br/>

                <p id="backup" ng-show="removed"
                   unselectable='off'
                   onselectstart=''>Library backup can be found at {{backup}}.</p><br/>


                <button ng-hide="removed || dup_count == 0" ng-click="remove();"
                        ng-bind="removeButton" ng-disabled="isProcessing"></button>

                <ul id="duplicates" ng-hide="removed">
                    <li ng-repeat="d in duplicates" class="duplicate-item">
                        <span class="old">{{d[0]}}</span><br/><span class="new">{{d[1]}}</span>
                    </li>
                </ul>
            </div>

        </section>

<!--
        <section id="result" ng-show="view == 'result'">
            <p><a href="#" class="back" ng-click="view = 'setup'">❮ BACK</a></p>
            <ul>
                <li ng-repeat="d in duplicates" class="duplicate-item">
                   <span class="old">{{d[0]}}</span><br/><span class="new">{{d[1]}}</span>
                </li>
            </ul>
        </section>
        -->


        <script type="text/javascript" src="/static/js/code.js"></script>

    </div>
</body>
</html>